@import "core/reset";
@import "core/variables";
@import "components/buttons";

/* 1rem = 10px */
html {
	font-size: 62.5%;
}
body {
	height: 100vh;
}
a {
	&:link,
	&:visited,
	&:hover,
	&:active {
	  text-decoration: none;
	}
}
@import "./layouts/header";
@import "./components/hero";
@import "./components/tips";
@import "./components/reasons";
@import "./pages/home";
@import "./layouts/footer";
