<footer class= "footer">
    <a href="#home">
        <button>
            <img src="./assets/images/ico-arrow.svg" alt="botón home">
        </button>
    </a>
    <div class= "footer__container">
       <nav class= "footer__container__menu">
           <ul class= "footer__container__menu__list">
               <li class= "footer__container__menu__list__items">articles</li>
               <li class= "footer__container__menu__list__items">books</li>
               <li class= "footer__container__menu__list__items">events</li>
               <li class= "footer__container__menu__list__items">reasons</li>
               <li class= "footer__container__menu__list__items">tips</li>
           </ul>

       </nav> 
       <nav class= "footer__container__social">
            <ul class= "footer__container__social__list">
                    <li class= "footer__container__social__list__items">twitter</li>
                    <li class= "footer__container__social__list__items">instagram</li>
                    <li class= "footer__container__social__list__items">mastodon.social</li>
            </ul>
        </nav> 
        <div class= "footer__container__copy">
            <copy> &copy 2017 </copy>
            <span> we &#10084; components </span>
        </div> 
    </div>
</footer>