<footer class= "footer">
    <button class= "footer__button">
        <a href="./index.html#top" title= "Home">
            <img src="./assets/images/ico-arrow.svg" alt="botón home"> 
         </a>
    </button>
    <div class= "footer__container">
       <nav class= "footer__container__menu">
           <ul>
               <li>
                   <a class= "footer__container__menu__list" href="#" title="Articles">articles</a>
               </li>
               <li>
                    <a class= "footer__container__menu__list" href="#" title="Books">books</a>
               </li>
               <li >
                    <a class= "footer__container__menu__list" href="#" title="Events">events</a>
               </li>
               <li>
                    <a class= "footer__container__menu__list" href="#" title="Reasons">reasons</a>
               </li>
               <li>
                    <a class= "footer__container__menu__list" href="#" title="Tips">tips</a>
               </li>
           </ul>
        </nav> 
        <nav  class="footer__container__social">
            <ul>
                    <li>
                        <a class= "footer__container__social__list" href="https://twitter.com/crismmgg" target="_blank" title="Twiter">twitter</a>
                    </li>
                    <li>
                        <a class= "footer__container__social__list" href="https://www.instagram.com/crismmgg/" target="_blank" title="Instagram">instagram</a>
                    </li>
                    <li>
                        <a class= "footer__container__social__list" href="#" title="Mastodon">mastodon.social</a>
                    </li>
            </ul>
        </nav> 
        <aside class= "footer__container__copy">
            <copy> &copy 2017 </copy>
            <span> we <span class= "footer__container__copy--heart">&#10084;</span> components </span>
        </aside> 
    </div>
</footer>