.footer  {

    background: $darkBlue;
    text-align: center;
    &__button {
        width: 4.5rem;
        height: 4.5rem;
        background: $white;
        border-radius: 50%;
        text-align: center;
        position:relative;
        animation-name: bounce;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
     @keyframes bounce {
         0% {
             transform: translateY(5px);
         }
          50% {
              transform: translateY(-45px);
        }
         100% {
             transform: translateY(5px);
         }
    }
    &__container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.5rem;

        @media all and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            padding: 1.5rem 3.9rem 4.5rem 3.9rem;
            align-items: flex-start;
        }
        @media all and (min-width: 1200px) {
            flex-direction: row;
            padding: 1.5rem 37rem 4.5rem 37rem;
            align-items: flex-start;
        }
        &__menu {
            list-style: none;
            text-transform: uppercase;
            line-height: 3rem;
            font-family: $mainFont;
            font-size: 1.6rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: $white;

            &__list {
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                &:hover {
                    padding: 0.5rem;
                    background: $lightBlue;
                    border-radius: 0.3rem;
                }
                &:visited {
                color: $white;
                }
            }
            @media all and (min-width: 768px) {
                text-align: left;
                order: 1;
                width: 21rem;
            }
        }
        &__social {
            list-style: none;
            text-transform: uppercase;
            line-height: 3rem;
            font-family: $mainFont;
            font-size: 1.6rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: $white;
            padding-top: 3rem;
            &__list {
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                &:hover {
                    padding: 0.5rem;
                    background: $lightBlue;
                    border-radius: 0.3rem;
                }
                &:visited {
                color: $white;
                }
            }
            @media all and (min-width: 768px) {
                order: 2;
                text-align: left;
                padding-top: 0rem;
                width: 21rem;
            }
        } 
        &__copy {
            display: flex;
            flex-direction: column;
            line-height: 3rem;
            font-family: $mainFont;
            font-size: 1.4rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: $white;
            padding-top: 3rem;
            padding-bottom: 4.5rem;
            &--heart {
                color: $orange;
            }
            @media all and (min-width: 768px) {
                order: 0;
                text-align: left;
                padding-top: 0rem;
                width: 21rem;
            }
        }  
    }
}