.pricing {
  background: $darkBlue;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 768px) {
  .pricing {
  &__sub {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}
}